@font-face {
    font-family: 'Poppins-Bold';
    src: url('subset-Poppins-Bold.woff2') format('woff2'),
        url('subset-Poppins-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('subset-Poppins-BlackItalic.woff2') format('woff2'),
        url('subset-Poppins-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('subset-Poppins-Black.woff2') format('woff2'),
        url('subset-Poppins-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('subset-Poppins-ExtraBold.woff2') format('woff2'),
        url('subset-Poppins-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('subset-Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('subset-Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('subset-Poppins-ExtraLight.woff2') format('woff2'),
        url('subset-Poppins-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('subset-Poppins-BoldItalic.woff2') format('woff2'),
        url('subset-Poppins-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('subset-Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('subset-Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('subset-Poppins-Italic.woff2') format('woff2'),
        url('subset-Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('subset-Poppins-Light.woff2') format('woff2'),
        url('subset-Poppins-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('subset-Poppins-LightItalic.woff2') format('woff2'),
        url('subset-Poppins-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('subset-Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('subset-Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('subset-Poppins-Regular.woff2') format('woff2'),
        url('subset-Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('subset-Poppins-Thin.woff2') format('woff2'),
        url('subset-Poppins-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('subset-Poppins-Medium.woff2') format('woff2'),
        url('subset-Poppins-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-MediumItalic';
    src: url('subset-Poppins-MediumItalic.woff2') format('woff2'),
        url('subset-Poppins-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('subset-Poppins-SemiBold.woff2') format('woff2'),
        url('subset-Poppins-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('subset-Poppins-ThinItalic.woff2') format('woff2'),
        url('subset-Poppins-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

